<div class="container">
  <div class="header">
    <div *ngIf="reminder.isEditing; then editDate; else viewDate;"></div>
    <ng-template #editDate>
      <input type="date"
             [ngModel]="reminder.date | date : 'yyyy-MM-dd'"
             (ngModelChange)="onDateChange($event)"
      />
    </ng-template>
    <ng-template #viewDate>
      <div class="date">{{reminder.date | date}}</div>
    </ng-template>

    <div *ngIf="reminder.isEditing; then finishedEdit; else finishedView"></div>
    <ng-template #finishedEdit>
      <label>
        Finished:
        <input [(ngModel)]="reminder.isFinished" type="checkbox">
      </label>
    </ng-template>
    <ng-template #finishedView>
      <div class="finished">{{reminder.isFinished ? "Finished" : "Todo"}}</div>
    </ng-template>
  </div>

  <div class="content">

    <!--    <div *ngIf="!reminder.isEditing">{{reminder.text}}</div>-->
    <!--    <input *ngIf="reminder.isEditing"/>-->

    <div *ngIf="reminder.isEditing; then editContent; else viewContent;"></div>
    <ng-template #editContent>
      <input type="text" [(ngModel)]="reminder.text"/>
    </ng-template>
    <ng-template #viewContent>
      {{reminder.text}}
    </ng-template>

  </div>

  <div class="footer">
    <button *ngIf="!reminder.isEditing" (click)="onEditClick()">edit</button>
    <button *ngIf="reminder.isEditing" (click)="saveEdit()">save</button>
    <button (click)="onDelete()">delete</button>
  </div>

</div>
