<!--<app-counter></app-counter>-->


<!--
  reminderList = [
    {
      date: new Date(),
      text: "take out trash"
    },
    {
      date: new Date(),
      text: "wash car"
    },
    {
      date: new Date(),
      text: "make lunch"
    }
  ]
-->
<button (click)="createMemo()">Create New Reminder</button>
<input type="text" [ngModel]="searchText" (ngModelChange)="onSearch($event)"/>
<div *ngFor="let reminderData of displayList">
  <app-reminder [reminder]="reminderData" (onDeleteEvent)="onDelete($event)"></app-reminder>
</div>

<!--<app-reminder [reminder]="reminderList[0]" ></app-reminder>-->
<!--<app-reminder [reminder]="reminderList[1]"></app-reminder>-->
<!--<app-reminder [reminder]="reminderList[2]"></app-reminder>-->
<!--<app-reminder [reminder]="reminderList[3]"></app-reminder>-->
